%h3 Register your application:
.input-append
  %input#appendedInputButton.span2{:type => "text", :placeholder=> "Type name of your application here...", :style=>"width:292px;"}
    %button.btn.btn-primary{:type => "button"} Add!

%table.table.table-hover
  %thead
    %tr
      %th Application name
      %th Token
  %tbody
    %tr
      %td Tunderbird
      %td "fbbf5e5f9d892f00d76c1c360256a377"
    %tr
      %td Thornton
      %td "c207baba191b48d11ee3fcceffdf6571"
    %tr
      %td SimpleMind
      %td "1064099644f4f58cefb259bcd3b5e505"