%h1 Stored Data
.table_container
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Key
        %th Value
    %tbody
      - @stored_datum.each do |data|
        %tr
          %td= data.key
          %td= data.value
