// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead{
  .nav-tabs > li > a, .nav-pills > li > a {
    line-height: 10px;
    margin-right: 6px;
  }
  .logout{
    float:right;
  }
}