.masthead
  = link_to "Logout", destroy_user_session_path, :method => :delete, :class=> "btn btn-danger logout"
  %ul.nav.nav-pills.pull-right
    %li{class: controller_name == 'main' ? 'active' : nil}
      = link_to "Home", main_index_path
    %li
      %a{:href => "#"} About
    %li
      %a{:href => "#"} Contact
  %h3.muted DataVault
%hr